.m-bookmark {
    display: flex;
    padding: 5px 0;
    margin-bottom: 25px;
    background-color: floralwhite;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);

}

.m-thumbnail-wrapper {
    padding: 5px 0;
    width: 100%;
    max-width: 120px;
    overflow: hidden;
}

.m-thumbnail-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.m-content-wrapper {
    max-width: 600px;
    padding: 0 10px;
}

.m-content-wrapper h3 {
    margin: 2px 0;
}

.m-remove-wrapper {
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.m-remove .fas {
    color: red;
    font-size: 20px;
    transition: color 200ms;
}

.m-remove:hover .fas {
    color: darkred;
}

.m-warning {
    box-shadow: 0 0 8px 0 rgba(255, 0, 0, 0.75);
}

.m-add-to-bookmarks,
.m-remove-from-bookmarks {
    display: none !important;
    position: relative;
    width: 1em;
    height: 1em;
}

h1 .m-add-to-bookmarks,
h1 .m-remove-from-bookmarks,
h2 .m-add-to-bookmarks,
h2 .m-remove-from-bookmarks,
h3 .m-add-to-bookmarks,
h3 .m-remove-from-bookmarks,
h4 .m-add-to-bookmarks,
h4 .m-remove-from-bookmarks {
    display: inline-block !important;
}

.m-add-to-bookmarks:hover,
.m-add-to-bookmarks:focus,
.m-remove-from-bookmarks:hover,
.m-remove-from-bookmarks:focus {
    cursor: pointer;
    text-decoration: none !important;
    box-shadow: none !important;
}

.m-add-to-bookmarks:before,
.m-remove-from-bookmarks:before {
    position: absolute;
    left: 0;
    content: '\f02e';
    font-family: "Font Awesome 5 Free";
}

.m-add-to-bookmarks:hover:before,
.m-remove-from-bookmarks:before {
    font-weight: 900 !important;
}

.m-add-to-bookmarks:before,
.m-remove-from-bookmarks:hover:before {
    font-weight: 400 !important;
}

.shortcode .m-thumbnail-wrapper,
.shortcode .m-remove {
    text-decoration: none !important;
    box-shadow: none !important;
}

